@font-face{
   font-family: 'tapas';
   src:url(../Fontes/Tapas\ Sans.ttf)format('truetype');
}
@keyframes subir{
    to{
        opacity: 1;
        transform: translateY(-5px);
    }
}
*{
    margin:0px;
    padding:0px;
}

#fundo{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../imagens/ef5b21fc411295a0c7847f6986c808ca.png) no-repeat center center;
    background-size: cover;
    backdrop-filter: brightness(0.4);
}
#cabeçalho{
    background: none;
    height: 15%;
    width: 70%;
    margin: 0% 20%;
}
.navegar{
    float: left;
    margin: 0px 0px;
    margin-left: 10%;
    margin-top: 100px;
}
.join-button, .inicio-button, .button{
    padding:  10px 30px;
    border:none;
    border-radius: 70px;
    color: color-mix(in srgb, rgb(212, 40, 40), #f3ecec 60%);
    background:none;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(30px);
    animation: subir 1s ease-out forwards;
}
.button
{
    background: #fff;
    box-shadow: 0 0 10px rgba(247, 247, 247, 0.363);
    backdrop-filter: blur(30px);
}
.button:hover, .join-button:hover, .inicio-button:hover{
    background:color-mix(in srgb, rgb(212, 40, 40), #f3ecec 60%);
    color: #fff;
    text-shadow:none;
    text-decoration: underline;
}
#tabela{
    margin-top: 200px;
    margin: 60px 30%;
    height: auto;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(30px);
    animation: subir 1s ease-out forwards;
}
.uni{
    font-family: 'tapas';
    font-size: 15px;
    padding: 20px;
}
.cal{
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(247, 247, 247, 0.363);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    color: white;
    display: grid;
    justify-items: center;
    backdrop-filter: brightness(0.9);
}
.for{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.for label{
    font-weight: bold;
    margin-bottom: 5px;
  }

.for input{
    width: 80%;
    padding: 0px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.for .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-group input{
    background: none;
    outline: none;
    border:none;
    border-bottom: 1px solid color-mix(in srgb, rgb(212, 40, 40), #f3ecec 60%); 
    color:#fff;
    text-align: center;
}
.form-group input:focus{
    background: color-mix(in srgb, rgba(212, 40, 40, 0.37), #f3ecec8e 60%);
    filter: brightness(1);
}

.form-group input::-webkit-outer-spin-button,
.form-group input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.form-group label{
    font-size: 20px;
}

.cal button {
    padding: 15px 15%;
    border:none;
    border-radius: 70px;
    color: color-mix(in srgb, rgb(212, 40, 40), #f3ecec 60%);
    background: #fff;
    cursor: pointer;
    margin:30px 0px;
}

.cal button:hover {
    background:color-mix(in srgb, rgb(212, 40, 40), #f3ecec 60%);
    color: #fff;
    text-shadow:none;
    text-decoration: underline;
}
#resultado {
    margin-top: 20px;
    font-size: 18px;
    text-shadow: 1px 2px 1px #000000;
    transform: translateY(30px);
    animation: subir 1s ease-out forwards;
}
.aparecer{
    font-family: 'tapas';
    color:color-mix(in srgb, rgb(212, 40, 40), #f3ecec 60%);
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: subir 1s ease-out forwards;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.inuts-entre{
    transform: translateY(30px);
    animation: subir 1s ease-out forwards;
}

input[type="checkbox"] {
  accent-color:color-mix(in srgb, rgb(212, 40, 40), #f3ecec 60%);
}